<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>testWeb</display-name>
  
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<servlet-class>testWeb.servlet.UserLoginServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>DetailCheckServlet</servlet-name>
  	<servlet-class>testWeb.servlet.DetailCheckServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>userRegister</servlet-name>
  	<servlet-class>testWeb.servlet.UserRegisterServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>RecordCheckServlet</servlet-name>
  	<servlet-class>testWeb.servlet.UserCheckRecordServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>InfoCheckServlet</servlet-name>
  	<servlet-class>testWeb.servlet.UserCheckInfoServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>UserUpdate</servlet-name>
  	<servlet-class>testWeb.servlet.UserEditServlet</servlet-class>
  </servlet>
  
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet-mapping>
  	<servlet-name>RecordCheckServlet</servlet-name>
  	<url-pattern>/checkRec</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>InfoCheckServlet</servlet-name>
  	<url-pattern>/checkPsn</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>userRegister</servlet-name>
  	<url-pattern>/UserReg</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>DetailCheckServlet</servlet-name>
  	<url-pattern>/CheckDet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>UserUpdate</servlet-name>
  	<url-pattern>/UserUpdate</url-pattern>
  </servlet-mapping>
  
</web-app>